.btn-flat {
    font-size: 1.2rem;
    color: whitesmoke;
}

.font-primary {
    font-family: $font-primary !important;
}

.font-secondary {
    font-family: $font-secondary !important;
}

body {
    font-size: $default-font-size;
}

.quarantine {
    color: $color-quarantine;
}

.case {
    color: $color-case;
}

.death {
    color: $color-death;
}

.data-modal {

    &__title {
        font-family: $font-primary;
        font-size: 3.2rem;
        font-weight: bold;
    }

    &__text {
        font-family: $font-secondary;
        font-size: 1.7rem;
        font-weight: 200;
        color: gray;
    }

    th {
        font-size: 1.6rem;
        font-family: $font-primary;
    }

    td {
        font-size: 1.4rem;
        font-family: $font-secondary;
    }
}

.legend {
    font-family: $font-secondary;
    &__title {
        font-family: $font-primary;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        color: slategray !important;

    }

    &__icon {
        color: black !important;
        text-shadow: none !important;
    }

    ul {
        font-family: $font-secondary;
        font-size: 1.6rem;
        line-height: 3rem;
        font-weight: 700;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color:rgba($color: black, $alpha: .1);
        // text-shadow: .5px .5px 1px rgba($color: black, $alpha: 1);
    }
}


.stats {
    &__title {
        font-family: $font-primary;
        font-size: 4rem;
        color: white;
        font-weight: 700;
    }

    table {
        color: whitesmoke;
        margin-left: 2rem;
        margin-bottom: 2.5rem;


        tr {
            border: none !important;
            line-height: 2.4rem;

            @include respond(phone) {
                line-height: 1.4rem;
            }

        }

        th {
            font-size: 1.4rem;
            font-family: $font-primary;

            @include respond(phone) {
                font-size: 2.2rem;
            }

            small {
                font-size: 1rem;
            }
        }

        td {
            font-family: $font-secondary;
            font-size: 1.3rem;

            @include respond(phone) {
                font-size: 1.8rem;
            }
        }
    }
}

.stats-update {
    font-style: italic;
    font-family: $font-secondary;
    font-size: 1.1rem;
    font-weight: 200;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 2.5rem;

    @include respond(phone) {
       font-size: 1.3rem;
    }
}

nav {
    a {
        font-size: 2.8rem !important;
        color: white !important;
    }

    ul {
        li {
           a{
            font-size: $default-font-size !important;
           }
        }
    }
}
