.auth {
    &__row {
        img {
            width: 3.6rem !important;
        }
    }
}

.legend {
    position: absolute;
    z-index: 1;
    bottom: 54vh;
    left: 2.4rem;
    background-color: rgba($color: whitesmoke, $alpha: .95);
    box-shadow: 3px 3px 10px rgba($color: black, $alpha: .5);
    border-radius: .5rem;

    @include respond(phone) {
    position: fixed !important;
     bottom: 58vh;
     left: 0rem;
    }

    &__title {
        padding: 1.2rem 1.6rem 1.2rem 1.6rem;
        border-radius: .5rem .5rem 0 0;
        margin-bottom: 1rem;
        box-shadow: 2px 4px 6px rgba($color: black, $alpha: .2);
    }
}



.stats {
    border-radius: 5px;
    margin-left: 1.5rem;
    height: 75vh;
    width: 23vw;
    margin-top: -2.5rem;
    background-color: red;
    transition: .5s  all;

    &--hide {
        @include respond(phone) {
            bottom: 5rem !important
        }
    }


    @include respond(phone) {
        position: relative;
        bottom: 58rem;
        margin-left: 0;
        width: 95vw;
        z-index: 3;
    }

    &__title {
        margin-bottom: 1rem;
        margin-top: 2rem;
        animation: moveInBottom .75s ease-in;

        @include respond(phone) {
            margin-top: 1rem;
        }
    }
}


.stats_disclaimer {
    margin-top: 5rem;
    font-family: $font-secondary !important;
    color: whitesmoke;
    text-align: center;
    font-size: 1.1rem;
    width: 75%;

    @include respond(phone) {
        font-size: 1.7rem;
    }
}


#stats-btn {
    position: absolute;
    z-index: 4;
    transform: translateY(-5.8rem) translateX(1.3rem);
    border: none;
    background-color: transparent;
}

#stats-direction {
    color: white;
    transition: .6s all;
    visibility: hidden;
    @include respond(phone) {
        visibility: visible;
    }
}


#map_row {
    margin-top: 2rem;
    @include respond(phone) {
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
}
