<template>
    <!-- Action -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating red modal-trigger" href="#information-modal"><i class="material-icons">info</i></a>
            </li>
            <!-- <li><a class="btn-floating yellow darken-1  modal-trigger" href="#wellness-modal"><i
                        class="material-icons">insert_emoticon</i></a></li>
            <li><a class="btn-floating green  modal-trigger" href="#checkin-modal"><i
                        class="material-icons">pin_drop</i></a></li> -->
        </ul>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
