<template>
    <!-- Interactive Legend -->
    <div class="legend">
        <div class="legend__title white">
            Interactive Legend
        </div>
        <ul>
            <li>
                <div class="row">
                    <div class="col-9">
                        <span class="quarantine">
                            Quarantine
                        </span>
                    </div>
                    <div class="col-3">
                        <a class="modal-trigger" href="#quarantine-modal">
                            <i class="small legend__icon material-icons">visibility</i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-9"><span class="case">Cases</span></div>
                    <div class=" text-right col-3">
                        <a class="modal-trigger" href="#case-modal">
                            <i class="small legend__icon material-icons">visibility</i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-9">
                        <span class="death">Deaths</span>
                    </div>
                    <div class="col-3">
                        <a class="modal-trigger" href="#death-modal">
                            <i class="small legend__icon material-icons">visibility</i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
