<template>
    <div id="stats-panel" class="grey darken-3 stats stats--hide">
        <div class="text-center stats__title">Live Stats</div>
        <button id="stats-btn"><i id="stats-direction" class="large material-icons">arrow_drop_up</i></button>
        <p class="stats-update">Last updated: --</p>

        <!-- Data Table -->
        <table>
            <thead>
                <tr>
                    <th>Region</th>
                    <th>Total Cases
                    </th>
                    <th>Total Deaths
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="font-primary"><b>Worldwide</b></td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td class="font-primary"><b>United States</b></td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td class="font-primary"><b>Washington</b></td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td class="font-primary"><b>California</b></td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td class="font-primary"><b>Oregon</b></td>
                    <td>--</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>

        <!-- Disclaimer -->
        <center>
            <div class="stats_disclaimer">** Please note we are currently only tracking data for COVID19,
                explicitly
                in <b class="death">Oregon</b>,
                <b class="death">Washington</b> and <b class="death">California</b></div>
        </center>
    </div>

</template>

<script>
    export default {

    }

</script>

<style>

</style>
