.data-modal {
    &__title {
        margin-bottom: 1.6rem;
    }

    &__text {
        margin-bottom: 1.4rem;
    }

    table {
        border: none;

        tr {
            border: none;
        }

        button {
            border: none;
            background-color: transparent;
            color: blue;
            margin-left: 3rem;
        }
    }

    &__close {
        position: fixed;
        left: 95vw;
        bottom: 28rem;
        color: black;
        text-align: right;
        z-index: 3;

        i {
            font-size: 2rem;
        }
    }
}
