/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@-webkit-keyframes moveUpLarge {
  0% {
    transform: translateY(-50rem);
  }

  100% {
    transform: translateY(25rem);
  }
}

@keyframes moveUpLarge {
  0% {
    transform: translateY(-50rem);
  }

  100% {
    transform: translateY(25rem);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  max-width: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
}

.btn-flat {
  font-size: 1.2rem;
  color: whitesmoke;
}

.font-primary {
  font-family: "Source Sans Pro", sans-serif !important;
}

.font-secondary {
  font-family: "Merriweather", serif !important;
}

body {
  font-size: 1.6rem;
}

.quarantine {
  color: lime;
}

.case {
  color: gold;
}

.death {
  color: crimson;
}

.data-modal__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
}

.data-modal__text {
  font-family: "Merriweather", serif;
  font-size: 1.7rem;
  font-weight: 200;
  color: gray;
}

.data-modal th {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
}

.data-modal td {
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
}

.legend {
  font-family: "Merriweather", serif;
}

.legend__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: slategray !important;
}

.legend__icon {
  color: black !important;
  text-shadow: none !important;
}

.legend ul {
  font-family: "Merriweather", serif;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.1);
}

.stats__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  color: white;
  font-weight: 700;
}

.stats table {
  color: whitesmoke;
  margin-left: 2rem;
  margin-bottom: 2.5rem;
}

.stats table tr {
  border: none !important;
  line-height: 2.4rem;
}

@media only screen and (max-width: 37.5em) {
  .stats table tr {
    line-height: 1.4rem;
  }
}

.stats table th {
  font-size: 1.4rem;
  font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (max-width: 37.5em) {
  .stats table th {
    font-size: 2.2rem;
  }
}

.stats table th small {
  font-size: 1rem;
}

.stats table td {
  font-family: "Merriweather", serif;
  font-size: 1.3rem;
}

@media only screen and (max-width: 37.5em) {
  .stats table td {
    font-size: 1.8rem;
  }
}

.stats-update {
  font-style: italic;
  font-family: "Merriweather", serif;
  font-size: 1.1rem;
  font-weight: 200;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 37.5em) {
  .stats-update {
    font-size: 1.3rem;
  }
}

nav a {
  font-size: 2.8rem !important;
  color: white !important;
}

nav ul li a {
  font-size: 1.6rem !important;
}

#map {
  height: 85vh;
  width: 75vw;
}

@media only screen and (max-width: 37.5em) {
  #map {
    width: 98vw;
  }
}

.data-modal__title {
  margin-bottom: 1.6rem;
}

.data-modal__text {
  margin-bottom: 1.4rem;
}

.data-modal table {
  border: none;
}

.data-modal table tr {
  border: none;
}

.data-modal table button {
  border: none;
  background-color: transparent;
  color: blue;
  margin-left: 3rem;
}

.data-modal__close {
  position: fixed;
  left: 95vw;
  bottom: 28rem;
  color: black;
  text-align: right;
  z-index: 3;
}

.data-modal__close i {
  font-size: 2rem;
}

nav a {
  margin-left: 2rem;
}

.auth__row img {
  width: 3.6rem !important;
}

.legend {
  position: absolute;
  z-index: 1;
  bottom: 54vh;
  left: 2.4rem;
  background-color: rgba(245, 245, 245, 0.95);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
}

@media only screen and (max-width: 37.5em) {
  .legend {
    position: fixed !important;
    bottom: 58vh;
    left: 0rem;
  }
}

.legend__title {
  padding: 1.2rem 1.6rem 1.2rem 1.6rem;
  border-radius: .5rem .5rem 0 0;
  margin-bottom: 1rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.stats {
  border-radius: 5px;
  margin-left: 1.5rem;
  height: 75vh;
  width: 23vw;
  margin-top: -2.5rem;
  background-color: red;
  transition: .5s  all;
}

@media only screen and (max-width: 37.5em) {
  .stats--hide {
    bottom: 5rem !important;
  }
}

@media only screen and (max-width: 37.5em) {
  .stats {
    position: relative;
    bottom: 58rem;
    margin-left: 0;
    width: 95vw;
    z-index: 3;
  }
}

.stats__title {
  margin-bottom: 1rem;
  margin-top: 2rem;
  -webkit-animation: moveInBottom .75s ease-in;
          animation: moveInBottom .75s ease-in;
}

@media only screen and (max-width: 37.5em) {
  .stats__title {
    margin-top: 1rem;
  }
}

.stats_disclaimer {
  margin-top: 5rem;
  font-family: "Merriweather", serif !important;
  color: whitesmoke;
  text-align: center;
  font-size: 1.1rem;
  width: 75%;
}

@media only screen and (max-width: 37.5em) {
  .stats_disclaimer {
    font-size: 1.7rem;
  }
}

#stats-btn {
  position: absolute;
  z-index: 4;
  transform: translateY(-5.8rem) translateX(1.3rem);
  border: none;
  background-color: transparent;
}

#stats-direction {
  color: white;
  transition: .6s all;
  visibility: hidden;
}

@media only screen and (max-width: 37.5em) {
  #stats-direction {
    visibility: visible;
  }
}

#map_row {
  margin-top: 2rem;
}

@media only screen and (max-width: 37.5em) {
  #map_row {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
}

