<template>
    <div>
        <app-navbar></app-navbar>

        <!-- Modals -->
        <auth-modal></auth-modal>
        <death-modal></death-modal>
        <case-modal></case-modal>
        <checkin-modal></checkin-modal>
        <information-modal></information-modal>
        <quarantine-modal></quarantine-modal>
        <wellness-modal></wellness-modal>

        <!-- Main Content -->
        <div id="map_row" class="row">
            <div class="col-9">
                <!-- Loader -->
                <map-loader></map-loader>

                <!-- Map -->
                <div id='map'></div>

                <!-- Interactive Legend -->
                <map-legend></map-legend>
            </div>
            <div class="col-3">
                <!-- Stats Panel -->
                <stats-panel></stats-panel>

                <!-- Action -->
                <floating-action-button></floating-action-button>
            </div>
        </div>
    </div>
</template>

<script>
    //Custom Components
    import MapLoader from './custom-components/MapLoader.vue'
    import MapLegend from './custom-components/MapLegend.vue'
    import FloatingActionButton from './custom-components/FloatingActionButton.vue'
    import StatsPanel from './custom-components/StatsPanel.vue'

    //Modals
    import AuthModal from './modals/AuthModal.vue'
    import CaseModal from './modals/CaseModal.vue'
    import CheckinModal from './modals/CheckinModal.vue'
    import DeathModal from './modals/DeathModal.vue'
    import InformationModal from './modals/InformationModal.vue'
    import QuarantineModal from './modals/QuarantineModal.vue'
    import WellnessModal from './modals/WellnessModal.vue'

    //Main
    import AppNavbar from './AppNavbar.vue'

    export default {
        components: {
            AppNavbar,
            AuthModal,
            CaseModal,
            CheckinModal,
            DeathModal,
            FloatingActionButton,
            InformationModal,
            MapLegend,
            MapLoader,
            StatsPanel,
            QuarantineModal,
            WellnessModal
        },

        // created() {
        //     axios.get('/fetch-data')
        //     .then(res => this.data = res.data.data)
        //     .catch(error => console.log(error.response.data))
        // }
    }


</script>

<style>

</style>
