<template>
    <!-- Top Nav -->
    <nav class="red darken-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo font-primary">PNW Viral</a>
            <!-- <ul id="nav-mobile" class="right hide-on-med-and-down font-primary">
                <li><a class="modal-trigger" href="#auth-modal">Sign In</a></li>
            </ul> -->
        </div>
    </nav>
</template>
