$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary:'Merriweather', serif;
$font-tertiary:'';

$color-primary: #000;
$color-secondary:#000;
$color-tertiary:#000;
$color-white: white;
$color-quarantine: lime;
$color-case: gold;
$color-death: crimson;

$default-font-size: 1.6rem;

