<template>
    <!-- Auth Modal-->
    <div id="auth-modal" class="modal">
        <div class="modal-content auth">
            <h2>Login</h2>
            <h4>Sign in with...</h4>
            <div class="row auth_row">
                <div class="col">
                    <a href="/sign-in/google">
                        <img src="/images/google_logo.png" width="72" title="Google" alt="">
                    </a>
                </div>
                <div class="col">
                    <a href="/sign-in/facebook">
                        <img src="/images/facebook_logo.png" width="72" title="Facebook" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

</template>

<script>
    export default {

    }

</script>

<style>

</style>
