<template>
    <!-- Case Modal -->
    <div id="case-modal" class="modal bottom-sheet data-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat data-modal__close">
                <i class="material-icons">close</i>
            </a>
            <div class="data-modal__title">Historic Confirmed Case Reports <small>(ordered by relevance)</small>
            </div>
            <p class="data-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae itaque
                minus vel sit quisquam
                nostrum optio. Iure laudantium officiis voluptatum aspernatur atque rem tempore earum.</p>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Reported <small>(in days)</small></th>
                        <th>Proximity to you</th>
                        <th>View on map</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-bind:key="confirmedCase.id" v-for="confirmedCase in confirmedCases">
                        <td>{{confirmedCase.id}}</td>
                        <td>{{confirmedCase.reported}}</td>
                        <td>{{confirmedCase.proximity}}</td>
                        <td>{{confirmedCase.location}}</td>
                        <td>
                            <!-- <button onclick="flyTo({{confirmedCase.latitude}}, {{confirmedCase.longitude}});">
                                <i class="small material-icons">location_on</i>
                            </button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name:"ConfirmedCases",
        props: ["confirmedCases"]
    }

</script>

<style>

</style>
