<template>
    <!-- Mark My Position -->
    <div id="checkin-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h2>Track this position</h2>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
