<template>
    <!-- Death Modal -->
    <div id="death-modal" class="modal bottom-sheet data-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat data-modal__close">
                <i class="material-icons">close</i>
            </a>
            <div class="data-modal__title">Historic Confirmed Death Reports <small>(ordered by relevance)</small>
            </div>
            <p class="data-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae itaque
                minus vel sit quisquam
                nostrum optio. Iure laudantium officiis voluptatum aspernatur atque rem tempore earum.</p>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Reported <small>(in days)</small></th>
                        <th>Proximity to you</th>
                        <th>Location Info</th>
                        <th>View on map</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-bind:key="death.id" v-for="death in deaths">
                        <td>{{death.id}}</td>
                        <td>{{death.reported}}</td>
                        <td>{{death.proximity}}</td>
                        <td>{{death.location}}</td>
                        <td>
                            <!-- <button onclick="flyTo({{death.latitude}}, {{death.longitude}});">
                                <i class="small material-icons">location_on</i>
                            </button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name:"Deaths",
        props: ["deaths"]
    }

</script>

<style>

</style>
