<template>
    <!-- About Modal -->
    <div id="information-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h1 class="font-primary">Learn more about Coronavirus</h1>
            <p class="font-secondary">Coronaviruses are a large family of viruses that are common in people and many
                different species of
                animals, including camels, cattle, cats, and bats. Rarely, animal coronaviruses can infect people and
                then spread between people such as with MERS-CoV, SARS-CoV, and now with this new virus (named
                SARS-CoV-2).

                The SARS-CoV-2 virus is a betacoronavirus, like MERS-CoV and SARS-CoV. All three of these viruses have
                their origins in bats. The sequences from U.S. patients are similar to the one that China initially
                posted, suggesting a likely single, recent emergence of this virus from an animal reservoir.

                Early on, many of the patients at the epicenter of the outbreak in Wuhan, Hubei Province, China had some
                link to a large seafood and live animal market, suggesting animal-to-person spread. Later, a growing
                number of patients reportedly did not have exposure to animal markets, indicating person-to-person
                spread. Person-to-person spread was subsequently reported outside Hubei and in countries outside China,
                including in the United States. Some international destinations now have apparent community spread with
                the virus that causes COVID-19, as do some parts of the United States. Community spread means some
                people have been infected and it is not known how or where they became exposed. Learn what is known
                about the spread of this newly emerged coronaviruses.</p>
        </div>
        <div class="modal-footer">
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/summary.html" class="font-primary">View more on the CDC
                Website</a>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
