<template>
    <!-- Quarantine Modal -->
    <div id="quarantine-modal" class="modal bottom-sheet data-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat data-modal__close">
                <i class="material-icons">close</i>
            </a>
            <div class="data-modal__title">Historic Quarantine Sites <small>(ordered by relevance)</small></div>
            <p class="data-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae itaque
                minus vel sit quisquam
                nostrum optio. Iure laudantium officiis voluptatum aspernatur atque rem tempore earum.</p>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Started On</th>
                        <th>Proximity to you</th>
                        <th>View on map</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-bind:key="quarantine.id" v-for="quarantine in quarantines">
                        <td>{{quarantine.id}}</td>
                        <td>{{quarantine.reported}}</td>
                        <td>{{quarantine.proximity}}</td>
                        <td>{{quarantine.location}}</td>
                        <td>
                            <!-- <button onclick="flyTo({{quarantine.latitude}}, {{quarantine.longitude}});">
                                <i class="small material-icons">location_on</i>
                            </button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name:"Quarantines",
        props: ["quarantines"]
    }

</script>

<style>

</style>
